.profile{
    .profile_navigation{
        position: sticky;
        top: 30px;
        .user_login_info{
            margin-bottom: 40px;
            .username{
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 5px;
            }
            .logout{
                a{
                    font-size: 18px;
                    line-height: 21px;
                    color: #3F2AFF;
                }
            }
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                margin-bottom: 25px;
                a{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: $main_color;
                }
            }
        }
    }

    .user_orders{
        .order_item{
            margin-bottom: 20px;
            .card{
                border: none;
                .card-header{
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 30px;
                    border-radius: 10px 10px 0px 0px;
                    border: none;
                }

                .card-body{
                    border: 1px solid #E6E6E6;
                    box-sizing: border-box;
                    border-radius: 0 0 10px 10px;
                    border-top: none;

                    .order_action{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .order_action_info{
                            display: flex;
                            .info_item{
                                margin-right: 50px;
                                font-size: 18px;
                                line-height: 21px;

                                .info_name{
                                    color: #5F5F5F;
                                    margin-right: 15px;
                                }

                                .info_value{
                                    &.general_price{
                                        color: #3F2AFF;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }

                        .order_action_buttons{
                            .button{
                                font-size: 15px;
                                line-height: 17px;
                                padding: 7px 10px;
                            }
                        }
                    }
                }
            }
            
        }
    }

    .user_addresses{
        .addresses_block{
            display: flex;

            .address_item{
                flex: 0 0 auto;
                width: 40%;
                margin-right: 20px;

                .card{
                    border: none;
                    .card-header{
                        padding: 20px 30px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        border-radius: 10px 10px 0px 0px;
                        border-bottom: none;
                        background: #F7F7F7;

                        .address_action{
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 16px;
                            text-decoration: underline;
                        }
                    }

                    .card-body{
                        border: 1px solid #E6E6E6;
                        border-top: none;
                        border-radius: 0 0 10px 10px;
                        padding: 30px;

                        .address_info_item{
                            margin-bottom: 20px;

                            .label{
                                font-size: 15px;
                                line-height: 17px;
                                color: #949494;
                            }

                            .value{
                                font-size: 18px;
                                line-height: 21px;
                            }
                        }
                    }
                }
            }
        }
    }

    .user_settings{
        .settings_block{
            display: flex;
            align-items: flex-start;
            .settings_item{
                flex: 0 0 auto;
                width: 40%;
                margin-right: 20px;
                background: #F7F7F7;
                border-radius: 10px;
                padding: 40px;

                .settings_title{
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 30px;
                }

                .form_item{
                    margin-bottom: 10px;

                    &:nth-last-of-type(2){
                        margin-bottom: 30px;
                    }

                    .form-label{
                        font-size: 15px;
                        line-height: 17px;
                        color: #5F5F5F;
                        margin-bottom: 5px;
                    }
                    
                    .form-control{
                        font-size: 15px;
                        line-height: 17px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        border: 1px solid #E6E6E6;
                    }

                    
                }

                .action_block{
                    .button{
                        font-size: 15px;
                        line-height: 17px;
                        padding: 10px 15px;
                    }
                }
            }
        }
    }

    .user_favorite{
        .favorite_products{
            .products{
                .col{
                    flex: 0 0 auto;
                    width: 20%;
                    margin-bottom: 30px;
                    .product_item{
                        .product_action{
                            height: auto;
                            .delete{
                                a{
                                    font-size: 15px;
                                    line-height: 17px;
                                    color: #949494;
                                    display: flex;
                                    align-items: center;

                                    svg{
                                        margin-left: 8px;
                                        color: #FF2A5D;;
                                    }
                                }
                            }
                        }

                        &::before{
                            content: none;
                        }
                    }
                }
            }
        }
    }
}